body {
  background-color: #DEDEE0;
  font-family: 'Roboto', sans-serif;
  color: #2B303A;
  
}

header{
  display: block;
  margin: 32px;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 56px;
}

main {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px;
}


.settingsContainer{
  display: flex;
  flex-direction: column;
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h2 {
  font-size: 36px;
  margin-bottom: -12px;
}

h3 {
  font-size: 24px;
  margin-bottom: -24px;
}

#colorChooser {
  margin-bottom: 24px;
}

.gridContainer {
  border-color: #2B303A;
  border-width: 4px;
  border-style: solid;
  display: grid;
  width: 600px;
  height: 600px;
}

.gridElement {
  background-color: white;
  border-color: #F5F5F5;
  border-width: 1px;
  border-style: solid;
}

.options {
  border-color: #2B303A;
  border-width: 4px;
  border-style: solid;
  border-radius: 25px;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}

.options:hover {
  opacity: 0.6;
}

#colorChooser {
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  cursor: pointer;
  background-color: transparent;
}

#colorChooser::-webkit-color-swatch {
  border-radius: 25%;
}